.all {
	width: 900px;
	height: 650px;
	background-color: #E5E5E5;
	margin: auto;
}

.top_buttom {
	width: 900px;
	height: 30px;
}

.top_buttom input {
	float: right;
	margin-right: 10px;
}

.foot {
	width: 900px;
	height: 420px;
}

.foot_left {
	/*background-color: #EFEFEF;*/
	/*background-image: url("img\left.gif");*/
	width: 25%;
	height: 420px;
	/*border: 1px #E4E4E4 solid;*/
	float: left;
	text-align: center;
}

.a {
	background-image: url("../img/left_top.png");
	height: 20px;
}

.b {
	background-image: url("../img/left.gif");
	height: 360px;
}

.c {
	background-image: url("../img/left_bottom.gif");
	height: 15px;
}

.foot_right {
	float: right;
	border: 1px #C3C3C3 solid;
	background-color: #EFEFEF;
	width: 73%;
	height: 370px;
	text-align: left;
}

.foot_right_botttom {
	float: right;
	border: 1px #C3C3C3 solid;
	background-color: #EFEFEF;
	width: 73%;
	height: 70px;
	text-align: center;
	font-size: 5px;
}