
body {
	font-family: 微软雅黑, serif;
}

.title {
	color: #2592DB;
}
div.top {
	height: 80px;
	border-bottom: 1px solid #cccccc;
}

div.content {
	height: 80%;
}

div.top-sub-container {
	margin-top: 10px;
}

button.top-button {
	border: 0px;
}

.non-border {
	border: 0px;
	outline: 0px;
}

.category {
	border-left: 2px solid black;
}

.d1:HOVER div{
	display: block;
}
.d2:HOVER div{
	display: block;
}

.d1 img{
	width: 20px;
	height: 20px;
}
.d2 img{
	width: 20px;
	height: 20px;
}

.d12{
	/*height: ;*/
	/*width: ;*/
	background-color: white;
	display: none;
}

.d22{
	height: 70px;
	background-color: white;
	display: none;
}

.d12 img{
	width: 12px;
	height: 12px;
}
